<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emotionlog.mapper.AdminMapper">
	
	<!-- 전체 회원 리스트 조회 -->
	<select id="getUserList" resultType="UsersVO">
	select * from users
	</select>

	<!-- 날짜별 작성된 일기 수 조회 -->
	<select id="getDiaryCountsByDateRange" resultType="DiaryCountsVO">
	<![CDATA[
	SELECT 
	    TO_CHAR(dates.regdate, 'YYYY-MM-DD') AS regdateStr,
	    NVL(COUNT(d.dno), 0) AS dailyCount
	FROM 
	    (SELECT TRUNC(SYSDATE) - LEVEL + 1 AS regdate 
	     FROM DUAL
	     CONNECT BY LEVEL <= 7) dates
	LEFT JOIN diary d
	ON TRUNC(d.regdate) = dates.regdate
	GROUP BY dates.regdate
	ORDER BY dates.regdate DESC

        ]]>
	</select>
	
	<!-- 미답변 QnA 리스트 조회 -->
	<select id="getQnaList" resultType="QnAVO">
	SELECT * FROM qboard
	WHERE ano IS NULL
	</select>
	

	<!-- QnA 문의 상세 조회 -->
	<select id="getQnaDetails" resultType="QnAVO">
	SELECT * FROM qboard
	WHERE qno = #{qno}
	</select>
	 
	
</mapper>
